.input__group-custom {
    margin-left: 50px;
    width: 40%;
    /* width: calc(40% - 250px); */
}

.form__control-custom:focus {
    background-color: #fff;
    border-color: #cb11ab;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(203, 17, 171, .4);
}