.book__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
}

.book__list:after {
    content: "";
    height: 0;
    width: 305px;
}