.book__cart-table {
    margin-top: 100px;
}

.book__cart-table button {
    margin-left: 5px;
    margin-top: 5px;
}

.table__custom {
    border-bottom: 2px solid #dee2e6;
}

.table__custom tr, .table__custom td {
    vertical-align: middle;
}

.total {
    text-align: right;
    font-size: 25px;
    margin-right: 10px;
}

.empty__cart {
    margin-top: 100px;
}